.social-links-container {
    text-align: center;
    padding: 1rem;
    background-color: #0047ff;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem; /* Add some space above the disclaimer */
  }
  
  .social-links a {
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    /* Style your links appropriately */
  }
  
  .disclaimer {
    font-size: 0.8rem; /* Adjust the font size as needed */
    color: #ccc; /* Lighter text color for the disclaimer */
  }
  